body {
    font-size: 14px;
    font-family: arial,sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

#navbar div > a, #bottom-footer > div > a {
    padding:10px;
    text-decoration: none;
    vertical-align: center;
}

#apps-button {
    display: inline;
    vertical-align: bottom;
    border-radius: 50%;
    width: 24px;
    padding:5px;
    opacity: 65%;
}

a {
    text-decoration: none;
}

#navbar div > a:visited, #navbar div > a:focus, #navbar div > a:active {
    text-decoration: none;
    color: inherit;
}

#bottom-footer > div > a:visited,  #bottom-footer > div > a{
    color: #70757a;
}

#top-footer > p {
    color: rgba(0,0,0,.54);
    margin-left: 40px;
    font-size: 15px;
}

footer {
    background-color: #f2f2f2;
    left: 0px;
}

a:hover {
    text-decoration: underline !important;
    display: inline;
}

#navbar div > button {
    margin-left:10px;
    margin-right: 10px;
}

#left-navbar {
    float: left;
}

#right-navbar {
    float: right;
    display: flex;
    font-size: 13px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%
}

#bottom-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

#left-bottom, #right-bottom {
    float: left;
    padding-left: 2%;
}

#right-bottom {
    float: right;
    padding-right: 2%;
}

#left-bottom, #right-bottom {
    margin: 10px;
}


#apps-button:hover {
    cursor: pointer;
    background-color: rgba(220, 220, 220, 0.925);
    border-radius: 50%;
}

#search-div {
    border-radius: 50px;
    width: 75vw;
    max-width: 550px;
    height: 33px;
    margin: 10px auto;
    border: lightgray solid 1px;
    display: flex;
    padding: 5px;
}

#search-div:hover {
    box-shadow: 0px 1.7px 5px #dfdfdf;
}

#search-box {
    width: 88%;
    height: 30px;
    border:none;
}

#mag-glass {
    width:20px;
    opacity: 40%;
    margin: 5px;
}

#voice-mic {
    width: 25px;
}

#center {
    text-align: center;    
    padding-top: 7.5vh;
    margin: 5px;
}

#form-buttons button {
    border: none;
    padding: 12px;
    margin: 15px 5px 15px 5px;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #202124;
}

#languages {
    font-size: small;
}



#profile {
    background-image: url(/google-homepage/images/profile.jpeg);
    width: 30px;
    border-radius: 25px;
    border: none;
    height: 30px;
}

#logo {
    margin-bottom: 15px;
}

#footer-divider {
    opacity: 25%;
}